@font-face {
    font-family: 'Product-Sans';
    src: url("../fonts/product-sans/Product Sans Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Thin.ttf");
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-ThinItalic.ttf");
    font-display: swap;
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-ExtraLight.ttf");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-ExtraLightItalic.ttf");
    font-display: swap;
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Light.ttf");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-LightItalic.ttf");
    font-display: swap;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Regular.ttf");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Italic.ttf");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Medium.ttf");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-MediumItalic.ttf");
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-SemiBoldItalic.ttf");
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-Bold.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-BoldItalic.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-ExtraBold.ttf");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans';
    src: url("../fonts/work-sans/WorkSans-ExtraBoldItalic.ttf");
    font-display: swap;
    font-weight: 800;
    font-style: italic;
}